<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Admin : Add</title>
	<link rel="stylesheet" th:href="@{/css/Add_Admin.css}" />
</head>

<body>

<a href="/admin/services">⬅ Back to Services</a>

<div class="addAdmin">
	<h3 style="color: red;">ADD NEW ADMIN / PARTNER</h3>

	<form th:action="@{/addingAdmin}" method="post">

		Admin_Name :
		<input type="text"
		       name="adminName"
		       placeholder="Enter name..."
		       minlength="2"
		       required />
		<br />

		Admin_Email :
		<input type="email"
		       name="adminEmail"
		       placeholder="Enter email..."
		       required />
		<br />


		<!-- ✅ PASSWORD ENTERED BY ADMIN -->
		Admin_Password :
		<input type="password"
		       name="adminPassword"
		       placeholder="Enter password..."
		       minlength="4"
		       required />
		<br /><br />

		<button type="submit">Add Admin</button>
	</form>
</div>

</body>
</html>
