<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodFrenzy</title> 

    <link rel="icon" type="image/x-icon" th:href="@{/Images/logo.png}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/Navigation.css}" />
    <link rel="stylesheet" th:href="@{/css/Products.css}" />
</head>

<body>

<nav th:replace="~{Navigation::navbar()}"></nav>

<div id="main-container">
<div id="biryani"> 

<!-- ================= Chicken Biryani ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/biryani/Biryani_of_Hyderabadi.jpg}">
    <p class="item-name">Chicken Biryani</p>
    <p class="item-price">Price: Rs 410</p>
    <a th:href="@{/buyProduct(pname='Chicken Biryani',pprice=410)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Paneer Butter ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/paneer/paneer-butter-masala.jpg}">
    <p class="item-name">Paneer Butter</p>
    <p class="item-price">Price: Rs 290</p>
    <a th:href="@{/buyProduct(pname='Paneer Butter',pprice=290)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Afgani Chicken ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/chicken/Afgani-chicken-curry.jpg}">
    <p class="item-name">Afgani Chicken</p>
    <p class="item-price">Price: Rs 410</p>
    <a th:href="@{/buyProduct(pname='Afgani Chicken',pprice=410)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Butter Chicken ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/chicken/butter-chicken.jpg}">
    <p class="item-name">Butter Chicken</p>
    <p class="item-price">Price: Rs 380</p>
    <a th:href="@{/buyProduct(pname='Butter Chicken',pprice=380)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Laccha Paratha ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/north-india-food/Laccha-Paratha.jpg}">
    <p class="item-name">Laccha Paratha</p>
    <p class="item-price">Price: Rs 30</p>
    <a th:href="@{/buyProduct(pname='Laccha Paratha',pprice=30)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Matka Chicken ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/chicken/Matka-Chicken.jpg}">
    <p class="item-name">Matka Chicken</p>
    <p class="item-price">Price: Rs 510</p>
    <a th:href="@{/buyProduct(pname='Matka Chicken',pprice=510)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Chicken Tikka ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.0</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/chicken/Tandoori-chicken-tikka.jpg}">
    <p class="item-name">Chicken Tikka</p>
    <p class="item-price">Price: Rs 310</p>
    <a th:href="@{/buyProduct(pname='Chicken Tikka',pprice=310)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Chilli Potato ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/north-india-food/Honey-Chilli-Potato.jpg}">
    <p class="item-name">Chilli Potato</p>
    <p class="item-price">Price: Rs 150</p>
    <a th:href="@{/buyProduct(pname='Chilli Potato',pprice=150)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Chola Bhatura ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/north-india-food/chola-bhatura.jpg}">
    <p class="item-name">Chola Bhatura</p>
    <p class="item-price">Price: Rs 180</p>
    <a th:href="@{/buyProduct(pname='Chola Bhatura',pprice=180)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Gulab Jamun ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.0</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/north-india-food/Gulab Jamun.jpg}">
    <p class="item-name">Gulab Jamun</p>
    <p class="item-price">Price: Rs 50</p>
    <a th:href="@{/buyProduct(pname='Gulab Jamun',pprice=50)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Chowmein ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">4.5</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/chinese/chowmein.jpg}">
    <p class="item-name">Chowmein</p>
    <p class="item-price">Price: Rs 150</p>
    <a th:href="@{/buyProduct(pname='Chowmein',pprice=150)}" class="buyBtn">Buy Now</a>
</div>

<!-- ================= Paneer Do Pyaza ================= -->
<div class="item-card">
    <div class="card-top">
        <i class="fa fa-star" id="rating">5.0</i>
        <i class="fa fa-heart-o add-to-cart"></i>
    </div>
    <img th:src="@{/Images/paneer/paneer-do-pyaza.jpg}">
    <p class="item-name">Paneer Do Pyaza</p>
    <p class="item-price">Price: Rs 270</p>
    <a th:href="@{/buyProduct(pname='Paneer Do Pyaza',pprice=270)}" class="buyBtn">Buy Now</a>
</div>

</div>
</div>

</body>
</html>
